@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .auth{
    @apply items-center  flex  justify-center min-h-screen w-full bg-purple-300;
  }
  .credits-item{
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-8 shadow-xl shadow-purple-200/20 lg:max-w-none;
  }
  .credits-btn{
    @apply w-full rounded-full bg-purple-100 bg-cover text-purple-500 hover:text-purple-500
  }
  /* profile page */
  .profile{
    @apply mt-5 flex flex-col gap-5 sm:flex-row md:mt-8 md:gap-10;
  }
  .proflel-balance{
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-5 shadow-lg shadow-purple-200/10 md:px-6 md:py-8;
  }
  .profile-image-mainpurlation{
    @apply w-full rounded-[16px] border-2 border-purple-200/20 bg-white p-5 shadow-lg shadow-purple-200/10 md:px-6 md:py-8;
  }
  /* Transformtion details */
  .transformation-grid{
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-8 md:grid-cols-2;
  }
  .transformation-original_mage{
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }
  /* collection component */
  .collection-heading{
    @apply md:justify-between mb-6 gap-5 flex flex-col md:flex-row;
  }
  .collection-list{
    @apply grid grid-cols-1 gap-6 sm:grid-cols-2 xl:grid-cols-3;
  }
  .collection-empy{
    @apply items-center h-60 w-full rounded-[10px] border border-dark-400/10 bg-white/20
  }
  .collection-btn{
    @apply button w-32 bg-purple-gradient bg-cover text-white;
  }
  .collection-card{
    @apply flex flex-1 cursor-pointer flex-col gap-5 rounded-[16px] border-2 border-purple-200/15 bg-white p-4 shadow-xl shadow-purple-200/10 transition-all hover:shadow-purple-200/20
  }
  /* MediaUploader Component */
  .media-uploader_cldImage{
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/20 object-cover p-2;
  }
  .media-uploader_cta{
    @apply flex items-center h-72 cursor-pointer flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner
  }
  .media-uploader_cta_image{
    @apply rounded-[16px] bg-white p-5 shadow-sm shadow-purple-200/50;
  }
  /* navbar component */
  .header{
    @apply justify-between fixed h-16 w-full border-b-4 border-purple-100 bg-white px-5 ld:hidden;
  }
  .header-nav_elements{
    @apply mt-8 flex w-full flex-col items-start gap-5;
  }
  /* search component */
  .serch{
    @apply flex w-full rounde-[16px] border-2 border-purple-200/20 bg-white px-4 shadow-sm shadow-purple-200/15 md:max-w-96;
  }
  /* sidebar component */
  .sidebar{
    @apply hidden h-screen w-72 bg-white p-5 shadow-md shadow-purple-200/50 lg:flex;
  }
  .sidebar-logo{
    @apply flex items-center gap-2 md:py-2;
  }
  .sidebar-nav{
    @apply h-full flex-col justify-between md:flex md: gap -4px;
  }
  .sidebar-nav_elements{
    @apply hidden w-full flex-col items-start gap-2 md:flex
  }
  .siderbar-nav_element{
   @apply items-center p-16-semibold w-full whitespace-nowrap rounded-full bg-cover transition-all hover:bg-purple-100 hover:shadow-inner;
  }
  .sidebar-link{
    @apply p-16-semibold flex size-full gap-4 p-4;
  }
  /* transformationfrom component */
  .prompt-field{
    @apply flex flex-col gap-5 lg:flex-row lg:gap-10;
  }
  .media-uploader-field{
    @apply grid h-fit min-h-[200px] grid-cols-1 gap-5 py-4 md:grid-cols-2;
  }
  .download-btn{
    @apply p-14-medium mt-2 flex items-center gap-2 px-2;
  }
  .transformed-image{
    @apply h-fit min-h-72 w-full rounded-[10px] border border-dashed bg-purple-100/200 object-cover p-2;
  }
  .tranforming-loader {
    @apply items-center absolute left-[50%] top-[50%] size-full -translate-x-1/2 -translate-y-1/2 flex-col gap-2 rounded-[10px] border bg-dark-700/90;
  }
  .transformed-placeholder {
    @apply items-center p-14-medium h-full min-h-72 flex-col gap-5 rounded-[16px] border border-dashed bg-purple-100/20 shadow-inner;
  }
}

/* ===CLIERK OVERRIDES */
.cl-userButtonBox {
  display: flex;
  flex-flow: row-reverse;
  gap: 12px;
}

.cl-userButtonQuterIdentifier {
  font-size: 16px;
  font-weight: 600;
  color: #384262;
}